*{
    margin: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    padding: 2% 0;
    background: hsl(30, 100%, 30%) url("https://cdn.pixabay.com/photo/2016/12/26/13/47/wood-1932207_960_720.jpg");
    display: flex;
    flex-flow: row nowrap;
}

.portifolio{
    background-color: transparent;
    width: 1000px;
    height: 1414px;
    perspective: 2000px;
    position: relative;
}

.portifolio-frente, .portifolio-verso{
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border: 1px outset #777;
    box-shadow: 0 0 15px 0.1px #eee;
    padding: 5%;
    align-items: stretch;
}

.portifolio-verso{
    transform: rotateY(180deg);
}

.girar{
    width: 10%;
    height: 100%;
    margin: auto 0;
    text-shadow: 2px 2px 2px black;
}

.girar p{
    text-align: center;
    line-height: 100%;
}

.portifolio .cabecalho{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

.foto{
    order: 1;
    width: 20%;
    border: 1px solid #777;
    filter: saturate(.7);
    filter: grayscale(.2);
    border-radius: 15%;
}

#nome{
    order: 2;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    width: 70%;
    margin-left: 2rem;
    text-decoration: underline;
}

.portifolio .conteudo{
    position: absolute;
    width: 100%;
}

table td{
    border: none;
    border-collapse: collapse;
    border-bottom: 1px solid black;
}

.principal{
    margin-top: 4%;
    width: 25%;
    height: 100%;
}

.fa{
    font-size: 0.6em;
}

.checked{
    color: orange;
}

.principal thead{
    text-align: justify;
}

.principal .legendas{
    margin-top: 2rem;
}

.principal .legendas td:nth-child(even)::before{
    content: "- ";
}

.detalhes{
    position: relative;
    top: -550px;
    left: 310px;
    width: 65%;
    height: 100%;
}

.detalhes article{
    margin: 2rem 0 2rem;
}

.detalhes article h2, .detalhes article h3{
    text-decoration: underline;
}

.detalhes li{
    list-style: "- ";
}

.resumo pre{
    font-variant: small-caps;
    margin-left: -14%;
}

.escolaridade li{
    font-variant: small-caps;
}

.experiencias h4{
    font-variant: small-caps;
}